@model SapCo2.Samples.Core.Models.Material

@{
    ViewData["Title"] = "GetMaterial";
}

<h1>GetMaterial</h1>

<div>
    <h4>Material</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialCategoryCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaterialCategoryCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
