@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Start with 11AKPAK Material List <a asp-controller="Home" asp-action="GetMaterial">GetMaterial</a>.</p>
</div>
